{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SENA-SOFT</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
<body>
    
    <header id="header">
        <section id="header_container">
            <div>
                <span id="senasoft_logo">
                    
                    &lt;SENA/Soft&gt; 2025
                </span>    
            </div>
            <div>
                <span>
                    <picture>
                        <img src="https://www.pautonoticias.com/sites/default/files/Article/sena-colombia-logo-green39a900png-20250120.png" alt="Logo sena">
                    </picture>
                </span>
            </div>
        </section>
    </header>
    <main id="main">
        here some content
    </main>
    <footer id="footer">
        and there the footer
    </footer>
</body>
</html>